.layout{
  .navDrawer{
    .drawerContent{
      color: #fff;
      background: #084e67;
      border-right: #084e67!important;

      a, a:visited{
        color: #fff;
      }
    }
  }

	.panel{
		background: #fff;
		height: 100%;
	}

}
